<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Form to Registration</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>


<p th:text="${message}"></p>
<div class="container text-center">
    <h3 class="m-3">PLEASE REFILL</h3>
    <form th:action="@{/api/v1/newUser}" th:object="${userModel}" method="post" enctype="multipart/form-data"
          style="max-width: 600px;margin: 1% auto">
        <div class="m-3">
            <div class="form-group row mt-1">
                <label class="col-form-label col-sm-4">FIRST NAME:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{firstName}" class="form-control" required>
                </div>
            </div>

            <div class="form-group row mt-1">
                <label class="col-form-label col-sm-4">LAST NAME:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{lastName}" class="form-control" required>
                </div>
            </div>
            <div class="form-group row mt-1">
                <label class="col-form-label col-sm-4">EMAIL:</label>
                <div class="col-sm-8">
                    <input type="email" th:field="*{email}" class="form-control" required>
                </div>
            </div>
            <div class="form-group row mt-1">
                <label class="col-form-label col-sm-4">CONTENT:</label>
                <div class="col-sm-8">
                    <textarea name="" th:field="*{content}" class="form-control" id="" cols="30" rows="10"></textarea>
                </div>
            </div>
            <div class="form-group row mt-1">
                <label class="col-form-label col-sm-4">ATTATCHMENT:</label>
                <div class="col-sm-8">
                    <input type="file" name="attachment " class="form-control">
                </div>
            </div>

            <th:block>
                <div class="form-group row">
            <label class="col-form-label col-sm-4">First Serial Number</label>
                    <div class="col-sm-4">
                        <input type="number" name="userSerialNumber"  placeholder="serialNumberFirst" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Second Serial Number</label>
                    <div class="col-sm-4">
                        <input type="number" name="userSerialNumber"  placeholder="serialNumberFirst" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Third Serial Number</label>
                    <div class="col-sm-4">
                        <input type="number" name="userSerialNumber"  placeholder="serialNumberFirst" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Fourth Serial Number</label>
                    <div class="col-sm-4">
                        <input type="number" name="userSerialNumber"  placeholder="serialNumberFirst" class="form-control">
                    </div>
                </div>
            </th:block>

            <div>
                <button type="submit" class="btn btn-primary mt-2">SEND</button>
            </div>

        </div>


    </form>


</div>
</body>
</html>