<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>Camdidate Form</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{style.css}">

</head>
<body>



<p th:text="${message}"></p>
<h1>CANDIDATE FORM</h1>
<div class="wrapper">

    <form  th:action="@{/candidates}" th:object="${candidateModel}" method="post">
        <h3>please unsubscribe</h3>
        <div class="formForCandidate">
            <label>FIRST NAME<input type="text" th:field="*{firstName}"  ></label>
            <label>LAST NAME<input type="text" th:field="*{lastName}" ></label>
            <label>EMAIL<input type="email" th:field="*{email}" ></label>
            <label>CONTENT   <textarea name="" th:field="*{content}" id="" cols="30" rows="10"></textarea></label>
            <label>Attachment<input type="file" ></label>

            <button class="btn-1"  type="submit" >send</button>
        </div>


    </form>
    
    
</div>
</body>
</html>